.sendercontainer {
    position: absolute;
    height: 70vh;
    width: 15cm;
    max-width: 90vw;
    margin: 0px;
    padding: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.formInput {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1em;
    font-size: 1.2rem;
}


#qr-reader {
    width: 100%;
}